 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1417px;
	 height: 1890px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #bottomBG 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1417px;
	 height: 945px;
	 z-index:1;
} 

 #layer_3156605 
{ 
	 left: 0px; 
	 top: 944px; 
	 position: absolute; 
	 width: 1417px;
	 height: 945px;
	 z-index:2;
} 

 #Rectangle5 
{ 
	 left: -138px; 
	 top: 105.8px; 
	 position: absolute; 
	 width: 1692px;
	 height: 477px;
	 z-index:3;
} 

 #AboutUsVimobinLabsis 
{ 
	 left: 97px; 
	 top: 164.8px; 
	 position: absolute; 
	 width: 1006px;
	 height: 311px;
	 z-index:4;
} 
